.login-container{
	width:100%;
	padding-bottom:70px;
	box-sizing:border-box;
	background:#fff;
	box-shadow:1px 1px 3px rgba(0,0,0,0.2);
	display:inline-block;
	max-width:600px;	
	background-image:url(../../images/Asset%201.svg);
	background-size:130%;
	background-repeat:no-repeat;
	background-position:-113px 0px;
	overflow:hidden;
	transition:all .5s ease;
}
.login-bar{
	width:100%;
	height:4px;
	background:#E8E8E8;
	position:relative;
	
}
.page-title-head{
	font-size:13pt;
	color:#606060;
	margin-bottom:15px;
	padding-left: 15px;
}
.step-2{
	width:50% !important;	
}
.step-3{
	width:75% !important;	
}
.step-4{
	width:100% !important;	
}
.login-bar-progress{
	width:25%;
	background:#469df5;
	height:4px;	
	transition:all .3s ease;
}
.step-title{
	width:100%;
	padding-left:15px;
	color:#469df5;	
	text-align:left;
}
.welcome-logo-container{
	
	height:auto;
	overflow:visible;
	width:100%;
	margin-top:25px;
	display:inline-block;	
}
.welcome-title{
	color:#469df5;
	font-weight:bold;	
	font-size:15pt;
}
.login-fields{
	width:100%;
	max-width:340px;
	margin-top:10px;
	display:inline-block;
}
.login-line-item{
	border-bottom:1px solid #e2e2e2;	
	overflow:auto;
	
	box-sizing:border-box;
}
.left-title{
	float:left;
	color:#676767;	
	padding:5px 0px;
	font-size:10pt;
}
.right-input{
	float:right;
	text-align:right;
	
}
input{
	background:transparent;
	border:none;
	outline:none;
	text-align:right;
	font-size:11pt;
	padding:5px 0px;
	transition:all .3s ease;
}
input.disabled{
	color:#A3A3A3;	
}
input:focus{
	color:#469df5;
}
.create-btn{
	padding:10px 25px;
	background:	#469df5;
	transition:all .3s ease;
	font-size:9pt;
	color:#fff;
	display:inline-block;
	clear:both;
	margin-top:25px;
	border-radius:4px;
	
}
.create-btn:hover{
	background:#2479E3;
	cursor:pointer;
}
.or-divider{
	margin-top:10px;
	border-bottom:solid 1px #e4e4e4;	
	width:220px;
	display:inline-block;
	height:10px;
}
.or-divider span{
	background:#fff;
	color:#676767;
	padding:10px;
	display:inline-block;
	margin-top:-7px;
}
.facebook-btn{
	color:#fff;
	background:#194882;
	padding:10px;
	box-sizing:border-box;
	display:inline-block;
	border-radius:4px;
	font-size:10pt;
	width:200px;	
	margin-top:15px;
	transition:all .3s ease;
	cursor:pointer;
}
.linkdin-btn{
	color:#fff;
	background:#0077b5;
	padding:10px;
	box-sizing:border-box;
	display:inline-block;
	border-radius:4px;
	font-size:10pt;
	width:200px;	
	margin-top:15px;
	transition:all .3s ease;
	cursor:pointer;
}
.facebook-btn:hover{
	background:	#153E71
}
.linkdin-btn:hover{
	background:	#006499;
}
.add-photo-btn{
	height:60px;
	width:60px;
	color:#969696;
	background:#f7f7f7;
	border:solid 1px #D1D1D1;
	text-align:center;
	line-height:60px;	
	float:right;
	font-size:15pt;
	margin-bottom:5px;
	transition:all .3s ease;
}
.add-photo-btn:hover{
	background:#E7E7E7;	
	cursor:pointer;
}
.add-photo-btn:active{
	background:#DBDBDB;	
	transition:none;
}
.user-img-box{
	text-align:center;	
}
.user-img{
	background-image:url(../../images/guy.jpg);
	background-size:cover;
	border-radius:100px;
	height:50px;
	width:50px;
	display:inline-block;	
}
.user-name{
	margin-top:4px;
	font-size:11pt;
	color:#606060;
}
.text-box textarea{
	width:100%;
	height:auto;
	border:solid 1px #DCDCDC;
	background:#fff;
	font-size:8pt;
	color:#606060;
	padding:10px;
	box-sizing:border-box;
	transition: all .3s ease;
}
.text-box textarea:focus{
	color:#9B9B9B;
	font-size:9pt;
	border-color:#469df5;
	padding-bottom:100px;
}
.banner-bg{
	height:180px;
	width:100%;
	background-image: url(../../images/HomeBanner-41.jpg);
	background-size: cover;
	background-position: center 240px;
	
}
.follower-content{
	margin-top:35px;
}
.follower-row{
	display: flex;
	margin-bottom:25px;
}
.follower-item{
	flex:1;
	text-align: center;
	color:#808080;
	font-size: 10pt;
	
}
.follower-img:hover{
	cursor: pointer;
	box-shadow:3px 3px 10px rgba(0,0,0,0.3);
	transform:scale(1.04,1.04);
	
}
.follower-img{
	transition:all .2s ease;
	display: inline-block;
	height:120px;
	width:120px;
	background-image: url(../../images/128.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 300px;
	margin-bottom:10px;
}
.follower-name{
	font-size: 10pt;
	color:#606060;
	
}
.follower-name span{
	display: inline-block;
	font-size: 8pt;
	color:#469df5;
}
.follower-count{
	color:#aaa;
	margin-top:4px;
	font-size: 8pt;
}
.follower-count i{
	font-size:7pt;
}
.view-all-title{
	padding:25px;
	font-size: 15pt;
	color:#000;
	
}
.view-all-container-search{
	padding:25px;
}
.view-all-container-search input{
	
	
	padding:5px;
	text-align: left;
	color:#808080;
	font-size: 15pt;
	width:400px;
	border-bottom: solid 3px #fff;
	transition:all .2s ease;
	
}
.view-all-container-search input:focus{
	border-bottom-color: #469df5 !important;

	
}
.view-all-container{
	margin-top:15px;
	
}
.view-all-container-row{
	display: flex;
	margin-bottom:25px;
}
.view-all-item{
	padding:15px;
	text-align: center;
	align-items: center;
	flex:1;
}
.view-all-item-img{
	background-image: url(../../images/2000px-Wells_Fargo_Bank.svg.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width:120px;
	display: inline-block;
	height:120px;
	margin-bottom: 15px;
	transition:all .3s ease;
}
.view-all-item-img:hover{
	cursor: pointer;
	transform:scale(1.05,1.05);
	
}
.view-all-item-title{
	font-size:12pt;
	color:#469df5;
}
.view-all-item-title:hover{
	cursor: pointer;
	color:#3080e8;
}
.pagination{
	text-align: center !important;
	width:100% !important;
	float: none;
	
}
.roster-item{
	display: flex;
	align-items: center;
	background:#f9f9f9;
	padding:10px 25px;
}
.roster-item:hover{
	background:#f7f7f7;
}
.roster-basic-info{
	text-align: left;
	flex:1;
	display: flex;
	align-items: center;
}
.roster-name{
	font-size:12pt;
	cursor: pointer;
}
.roster-img{
	width:50px;
	height:50px;
	border-radius: 50px;
	background-image: url(../../images/128.jpg);
	background-size:cover;
	background-position: center;
	margin-right:10px;
	float: left;
}
.roster-email{
	flex:1;
	font-size:10pt;
	color:#469df5;
	cursor: pointer;
}
.roster-email:hover{
	color:#3080e8;
}
.roster-start-date{
	flex:1;
	font-size: 10pt;
}

.roster-delete{
	height:25px;
	width:25px;
	background:#f1f1f1;
	text-align: center;
	line-height: 25px;
	border-radius: 25px;
	color:#808080;
	opacity: 0;
}
.roster-delete:hover{
	cursor: pointer;
	background:#e0e0e0;
	color:#707070;
}
.roster-item:hover .roster-delete{
	opacity: 1;
}
.add-roster-btn{
	padding:10px 15px;
	background:#469df5;
	border-radius: 3px;
	float: right;
	font-size: 10pt;
	color:#fff;
}
.add-roster-btn:hover{
	cursor: pointer;
	background:#3080e8;
}
.popup{
	position: fixed;
	width:100%;
	height:100vh;
	top:0;
	left:0;
	background:rgba(0,0,0,0.5);
	z-index: 100000;
	display: flex;
	align-items: center;
	justify-content: center;
}
.popup-container{
	background:#fff;
	border-radius: 5px;
	padding-bottom:15px;
	width:500px;
	display: inline-block;
}
.popup-title{
	padding:15px;
	font-size:12pt;
	border-bottom:solid 1px #e0e0e0;
}
.popup-row{
	display: flex;
	padding:15px;
	padding-bottom:0;
	justify-content: space-between
	
}
.popup-field{
	flex:1;
}
.popup-field input{
	padding:5px;
	font-size: 10pt;
	color:#808080;
	border:solid 1px #e0e0e0;
	text-align: left;
	margin-right:10px;
	width:96%;
}
.popup-field-title{
	margin-bottom:5px;
	font-size: 8pt;
	color:#808080;
}
.popup-title i:hover{
	cursor: pointer;
	color:#469df5;
}
.add-contact-btn{
	padding:10px 15px;
	background:#469df5;
	border-radius: 3px;
	color:#fff;
	font-size: 10pt;
	float:right;
	margin:15px;
	margin-bottom:0;
}
.add-contact-btn:hover{
	cursor: pointer;
	background:#3080e8;
}
.halo-login{
	width:100vw;
	height:100vh;
	background:#fff;
	background-image: url(../../images/bg2.jpg);
	background-size: cover;
	background-position: center;
}
.login-container{
	height:100%;
	width:500px;
	margin-left: auto;
	background:#f1f2f4;
	display: flex;
	align-items: center;
}
.login-title{
	font-size:17pt;
	font-weight: 300;
	color:#469df5;
	margin-bottom: 25px;
}
.login-box{
	padding:15px;
	width:100%;
	
}
.login-input{
	margin:10px 0px;
	
}
.login-input input{
	background:#fff;
	border:solid 1px #e0e0e0;
	width:100%;
	border-radius: 2px;
	font-size: 10pt;
	transition:none;
	text-align: left;
	padding:10px;
	color:#808080;
}
.login-input input:focus{
	border:solid 1px #469df5;
}
.login-input-title{
	font-size: 7pt;
	letter-spacing: 1px;
	font-weight: 400;
	text-transform: uppercase;
	color:#a1a1a1;
	margin-bottom:5px;
	
}
.forgot-password{
	font-size:10pt;
	color:#469df5;
	cursor: pointer;
	float: left;
}
.forgot-password:hover{
	color:#3080e8;
}
.login-btn{
	padding:7px 15px;
	background:#469df5;
	color:#fff;
	font-size: 10pt;
	float: right;
	border-radius: 3px;
}
.login-btn:hover{
	cursor: pointer;
	background:#3080e8;
}
.overlay{
	position: fixed;
	top:0;
	left: 0;
	height:100vh;
	width:100vw;
	background:rgba(0,0,0,0.4);
	display: flex;
	align-items: center;
	justify-content: center;
}
.send-message-popup{
	background:#fff;
	overflow: visible;
	width:500px;
	border-radius: 3px;
}
.modal-top{
	background:#f7f7f7;
	top:0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom:solid 1px #e0e0e0;
	display: flex;
	align-items: center;
	padding:15px;
	font-size: 12pt;
	color:#808080;
}
.modal-top i{
	margin-left: auto;
}
.modal-top i:hover{
	color:#000;
	cursor: pointer;
}
.send-message-popup-stage{
	padding:15px;
	font-size: 10pt;
	color:#606060;
}
.send-message-btn{
	background:#469df5;
	color:#fff;
	float: right;
	margin: 15px 0px;
	border-radius: 3px;
	padding:7px 15px;
	font-size: 10pt;
}
.send-message-btn:hover{
	background:#3080e8;
	cursor: pointer;
}
.send-message-popup-stage .popup-selector-dropdown{
	width:100%;
}
.halo-about{
	padding:0px 25px;
	padding-bottom:25px;
	flex:1;
}
.right-shortcuts{
	margin-left: auto;
	width:350px;
	
	padding:25px;
	border-left: solid 1px #eaeaea;
}
.right-shortcut-title{
	color:#999;
	font-size: 12pt;
	border-bottom:solid 1px #eaeaea;
	padding-bottom:5px;
	margin-bottom:10px;
}
.right-shortcut-item{
	font-size: 10pt;
	color:#d0d0d0;
	padding:3px 0px;
}
.right-shortcut-item a{
	color:#999;
	transition:none;
}
.right-shortcut-item a:hover{
	color:#000;
	cursor: pointer;
	text-decoration: none;
}
.complaint-body textarea{
	border:solid 1px #e0e0e0;
	width:100%;
	height:200px;
	font-size: 10pt;
	color:#808080;
	padding:15px;
}
.recent-complaints{
	margin-top:50px;
}
.recent-complaint-item{
	width:100%;
	display: flex;
	align-items: center;
	color:#999;
	font-size: 12pt;
	padding:10px 10px;
}
.recent-complaint-item:hover{
	
	cursor: pointer;
	color:#000;
}
.recent-complaints h3{
	border-bottom: solid 1px #e0e0e0;
	padding-bottom:5px;
	margin-bottom:0;
}
.complaint-details{
	margin-left: auto;
	font-size: 10pt;
}
.complaint-desc{
	flex:2;
	font-size: 10pt;
	padding:0px 10px;
}